<div class="container-fluid">
  <span class="d-block bg-primary">
    <h1>HEy its working</h1>
  </span>


  <div class="row shadow-lg">
    <div class="col-md-4">
      row 1 col1
    </div>
    <div class="col-md-4">
      row 2 col2
    </div>
  </div>
  <div class="row shadow-lg">
    <div class="col-md-4">
      row 2 col1
    </div>
    <div class="col-md-4">
      row 2 col2
    </div>
  </div>
</div>